@font-face {
    font-family: 'Learning Curve Pro';
    src: url('fonts/learning_curve/learningcurve_ot-webfont.eot');
    src: url('fonts/learning_curve/learningcurve_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/learning_curve/learningcurve_ot-webfont.woff2') format('woff2'),
         url('fonts/learning_curve/learningcurve_ot-webfont.woff') format('woff'),
         url('fonts/learning_curve/learningcurve_ot-webfont.ttf') format('truetype'),
         url('fonts/learning_curve/learningcurve_ot-webfont.svg#Learning Curve Pro') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:'Tw Cen MT Condensed Normal';
	src: url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.eot');
	src: url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.woff') format('woff'),
		url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.ttf') format('truetype'),
		url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.otf') format('opentype'),
		url('fonts/Tw_Cen_MT_Condensed_Normal/TwCenMT-Condensed_gdi.svg#Tw Cen MT Condensed Normal') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Tw Cen MT Condensed Bold';
	src: url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.eot');
	src: url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.woff') format('woff'),
		url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.ttf') format('truetype'),
		url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.otf') format('opentype'),
		url('fonts/Tw_Cen_MT_Condensed_Bold/TwCenMT-CondensedBold_gdi.svg#Tw Cen MT Condensed Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

body {
	margin: 0;
	padding: 0;
}

.image {
	background-image: url("../images/big_ben.png");
	position: absolute;
	width: 100px;
	height: 400px;
	margin-top: 100px;
	margin-left: -30px;
	transform:rotate(19deg);
	-webkit-transform:rotate(19deg);
	-moz-transform:rotate(19deg);
	-o-transform:rotate(19deg);
	-ms-transform:rotate(19deg);
}

#container {
	width: 100%;
	height: auto;
	margin: 0 auto 0 auto;
}

#header {
	width: 100%;
	height: 80px;
	background-color: #00afb4;
	z-index: 10;
	float: left;
}
.header {
	width: 1200px;
	height: 80px;
	background-color: #00afb4;
	z-index: 10;
	margin: 0 auto 0 auto;
}
.header h1 {
	font-family: Tw Cen MT Condensed Bold;
	font-size: 40px;
	float: left;
	color: white;
	margin-top: 7px;
}
.header ul {
	float: right;
	margin-top: 25px;
}
.header ul ul {
	margin-top: -500px;
	margin-left: 70px;
	position: absolute;
	opacity: 0;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	-ms-transition: all ease .3s;
	z-index: 10;
}
.header .one {
	float: left;
	list-style-type: none;
	padding: 5px;
	width: 165px;
	margin-right: 1px;
	text-align: center;
}
.header .one:hover {
	width: 165px;
	background-color: white;
	border-radius: 10px;
}
.header .one:hover > a {
	color: #00afb4;
}
.header .one:hover > ul {
	margin-top: 10px;
	margin-left: 70px;
	opacity: 10;
}
.header .two {
	background-color: #00afb4;
	list-style-type: none;
	display: block;
	float: none;
	list-style-type: none;
	padding: 5px;
	border: 1px solid white;
	margin-bottom: 3px;
	border-radius: 10px;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	-ms-transition: all ease .3s;
}
.header .two:hover {
	background-color: white;
	box-shadow: 0 0 20px;
	-webkit-box-shadow: 0 0 20px;
	-moz-box-shadow: 0 0 20px;
	-o-box-shadow: 0 0 20px;
	-ms-box-shadow: 0 0 20px;
}
.header .two:hover > a {
	color: #00afb4;
}
.header a {
	border-radius: 15px;
	padding: 5px;
	width: 150px;
	text-decoration: none;
	color: white;
	font-family: Learning Curve Pro;
	font-size: 31px; 
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	-ms-transition: all ease .3s;
}
#content {
	width: 100%;
	height: auto;
	float: left;
}
.content {
	width: 1200px;
	height: 380px;
	background-color: white;
}

.pertama {
	position: absolute;
	width: 400px;
	height: 230px;
	background-image: url(../images/kedua.png);
	border-radius: 5px;
	box-shadow: 10px 10px 35px black;
	margin:50px 0 0 150px;
	z-index: 2;
	transition: all ease .3s;
}
.pertama:hover {
	margin:110px 0 0 150px;
	z-index: 5;
}
.kedua {
	position: absolute;
	width: 400px;
	height: 230px;
	background-image: url(../images/pertama.png);
	border-radius: 5px;
	box-shadow:  0px 10px 35px black;
	margin:80px 0 0 0;
	z-index: 4;
	transition: all ease .3s;
}
.kedua:hover {
	z-index: 5;
	margin:99px 0 0 0;
}
.ketiga {
	position: absolute;
	width: 400px;
	height: 230px;
	background-image: url(../images/ketiga.png);
	border-radius: 5px;
	box-shadow:  -10px 10px 35px black;
	margin: 50px 0 0 -150px;
	z-index: 3;
	transition: all ease .3s;
}
.ketiga:hover {
	z-index: 5;
	margin: 110px 0 0 -150px;
}

#information {
	width: 100%;
	height: auto;
	float: left;
	background-color: white;
	margin: 0 auto 0 auto ;
}
#information a:hover {
	background-color: #00afb4; 
	color: white;
	transform: rotate(-4deg);
	padding: 2px;
}

.category1 {
	max-width: 390px;
	height: 230px;
	background-color: white;
	float: left;
}
.category2 {
	max-width: 390px;
	height: 230px;
	background-color: white;
	float: left;
}
.category3 {
	max-width: 390px;
	height: 230px;
	background-color: white;
	float: left;
}

.category1 h3 {
	font-family: Tw Cen MT Condensed Bold;
	font-size: 35px;
	margin: 2px 0 0 9px;
}

.category2 h3 {
	font-family: Tw Cen MT Condensed Bold;
	font-size: 35px;
	margin: 2px 0 0 9px;
}

.category3 h3 {
	font-family: Tw Cen MT Condensed Bold;
	font-size: 35px;
	margin: 2px 0 0 9px;
}

.category1 p {
	font-family: Learning Curve Pro;
	font-size: 31px;
	margin: 2px 0 0 17px;
}
.category1 a {
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	color: #00afb4;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	transition: all ease .2s;
}

.category2 p {
	font-family: Learning Curve Pro;
	font-size: 31px;
	margin: 2px 0 0 17px;
}
.category2 a {
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	color: #00afb4;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	transition: all ease .2s;
}
.category3 p {
	font-family: Learning Curve Pro;
	font-size: 31px;
	margin: 2px 0 0 17px;
}
.category3 a {
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	color: #00afb4;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	transition: all ease .2s;
}


#sosmed{
	width: 100%;
	height: auto;
	background-color: white;
	margin-top: 79px;
	float: left;
}
.sosmed {
	width: 1200px;
	height: 80px;
}
.facebook {
	width: 200px;
	height: 40px;
	background-image: url(../images/facebook_icon.png);
}
.twitter {
	width: 210px;
	height: 40px;
	background-image: url(../images/twitter_icon.png);
}
.blog {
	width: 200px;
	height: 40px;
	background-image: url(../images/blog_icon.png);

}
.youtube {
	width: 200px;
	height: 40px;
	background-image: url(../images/youtube_icon.png);
}
.facebook a {
	color: #3e5990;
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	margin: 5px 2px 0 0;
	text-decoration: none;
	float: right;
}
.twitter a {
	color: #61a5bc;
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	margin: 5px 0px 0 0px;
	text-decoration: none;
	float: right;
}
.blog a {
	color: #c27032;
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	margin: 5px 1px 0 0;
	text-decoration: none;
	float: right;
}
.youtube a {
	color: #a92d2f;
	font-family: Tw Cen MT Condensed Normal;
	font-size: 25px;
	margin: 5px 18px 0 0;
	text-decoration: none;
	float: right;
}

#footer {
	width: 100%;
	height: 80px;
	background-color: #00afb4;
	float: left;
}
.footer {
	padding: 0;
	background-color: #00afb4;
	text-align: center;
	margin:30px auto 0 auto;
}
.footer a {
	font-family: Tw Cen MT Condensed Normal;
	font-size: 30px;
	text-decoration: none;
	color: white;
}