html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.pull_right { float: right; }

.pull_left { float: left; }

/* Base Styles */
html { font-size: 100%; line-height: 1.625em; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background: #fff; font-family: "Open Sans"; font-weight: 400; color: #555555; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

html, body { height: 100%; }

.hide { display: none; }

.hide.active, .show { display: block; }

.icon-note.icon-left a:before, .icon-note.icon-right a:after, i.icon-note:before { content: "♪"; height: inherit; }

.icon-note-beamed.icon-left a:before, .icon-note-beamed.icon-right a:after, i.icon-note-beamed:before { content: "♫"; height: inherit; }

.icon-music.icon-left a:before, .icon-music.icon-right a:after, i.icon-music:before { content: "🎵"; height: inherit; }

.icon-search.icon-left a:before, .icon-search.icon-right a:after, i.icon-search:before { content: "🔍"; height: inherit; }

.icon-flashlight.icon-left a:before, .icon-flashlight.icon-right a:after, i.icon-flashlight:before { content: "🔦"; height: inherit; }

.icon-mail.icon-left a:before, .icon-mail.icon-right a:after, i.icon-mail:before { content: "✉"; height: inherit; }

.icon-heart.icon-left a:before, .icon-heart.icon-right a:after, i.icon-heart:before { content: "♥"; height: inherit; }

.icon-heart-empty.icon-left a:before, .icon-heart-empty.icon-right a:after, i.icon-heart-empty:before { content: "♡"; height: inherit; }

.icon-star.icon-left a:before, .icon-star.icon-right a:after, i.icon-star:before { content: "★"; height: inherit; }

.icon-star-empty.icon-left a:before, .icon-star-empty.icon-right a:after, i.icon-star-empty:before { content: "☆"; height: inherit; }

.icon-user.icon-left a:before, .icon-user.icon-right a:after, i.icon-user:before { content: "👤"; height: inherit; }

.icon-users.icon-left a:before, .icon-users.icon-right a:after, i.icon-users:before { content: "👥"; height: inherit; }

.icon-user-add.icon-left a:before, .icon-user-add.icon-right a:after, i.icon-user-add:before { content: ""; height: inherit; }

.icon-video.icon-left a:before, .icon-video.icon-right a:after, i.icon-video:before { content: "🎬"; height: inherit; }

.icon-picture.icon-left a:before, .icon-picture.icon-right a:after, i.icon-picture:before { content: "🌄"; height: inherit; }

.icon-camera.icon-left a:before, .icon-camera.icon-right a:after, i.icon-camera:before { content: "📷"; height: inherit; }

.icon-layout.icon-left a:before, .icon-layout.icon-right a:after, i.icon-layout:before { content: "⚏"; height: inherit; }

.icon-menu.icon-left a:before, .icon-menu.icon-right a:after, i.icon-menu:before { content: "☰"; height: inherit; }

.icon-check.icon-left a:before, .icon-check.icon-right a:after, i.icon-check:before { content: "✓"; height: inherit; }

.icon-cancel.icon-left a:before, .icon-cancel.icon-right a:after, i.icon-cancel:before { content: "✕"; height: inherit; }

.icon-cancel-circled.icon-left a:before, .icon-cancel-circled.icon-right a:after, i.icon-cancel-circled:before { content: "✖"; height: inherit; }

.icon-cancel-squared.icon-left a:before, .icon-cancel-squared.icon-right a:after, i.icon-cancel-squared:before { content: "❎"; height: inherit; }

.icon-plus.icon-left a:before, .icon-plus.icon-right a:after, i.icon-plus:before { content: "+"; height: inherit; }

.icon-plus-circled.icon-left a:before, .icon-plus-circled.icon-right a:after, i.icon-plus-circled:before { content: "➕"; height: inherit; }

.icon-plus-squared.icon-left a:before, .icon-plus-squared.icon-right a:after, i.icon-plus-squared:before { content: "⊞"; height: inherit; }

.icon-minus.icon-left a:before, .icon-minus.icon-right a:after, i.icon-minus:before { content: "-"; height: inherit; }

.icon-minus-circled.icon-left a:before, .icon-minus-circled.icon-right a:after, i.icon-minus-circled:before { content: "➖"; height: inherit; }

.icon-minus-squared.icon-left a:before, .icon-minus-squared.icon-right a:after, i.icon-minus-squared:before { content: "⊟"; height: inherit; }

.icon-help.icon-left a:before, .icon-help.icon-right a:after, i.icon-help:before { content: "❓"; height: inherit; }

.icon-help-circled.icon-left a:before, .icon-help-circled.icon-right a:after, i.icon-help-circled:before { content: ""; height: inherit; }

.icon-info.icon-left a:before, .icon-info.icon-right a:after, i.icon-info:before { content: "ℹ"; height: inherit; }

.icon-info-circled.icon-left a:before, .icon-info-circled.icon-right a:after, i.icon-info-circled:before { content: ""; height: inherit; }

.icon-back.icon-left a:before, .icon-back.icon-right a:after, i.icon-back:before { content: "🔙"; height: inherit; }

.icon-home.icon-left a:before, .icon-home.icon-right a:after, i.icon-home:before { content: "⌂"; height: inherit; }

.icon-link.icon-left a:before, .icon-link.icon-right a:after, i.icon-link:before { content: "🔗"; height: inherit; }

.icon-attach.icon-left a:before, .icon-attach.icon-right a:after, i.icon-attach:before { content: "📎"; height: inherit; }

.icon-lock.icon-left a:before, .icon-lock.icon-right a:after, i.icon-lock:before { content: "🔒"; height: inherit; }

.icon-lock-open.icon-left a:before, .icon-lock-open.icon-right a:after, i.icon-lock-open:before { content: "🔓"; height: inherit; }

.icon-eye.icon-left a:before, .icon-eye.icon-right a:after, i.icon-eye:before { content: ""; height: inherit; }

.icon-tag.icon-left a:before, .icon-tag.icon-right a:after, i.icon-tag:before { content: ""; height: inherit; }

.icon-bookmark.icon-left a:before, .icon-bookmark.icon-right a:after, i.icon-bookmark:before { content: "🔖"; height: inherit; }

.icon-bookmarks.icon-left a:before, .icon-bookmarks.icon-right a:after, i.icon-bookmarks:before { content: "📑"; height: inherit; }

.icon-flag.icon-left a:before, .icon-flag.icon-right a:after, i.icon-flag:before { content: "⚑"; height: inherit; }

.icon-thumbs-up.icon-left a:before, .icon-thumbs-up.icon-right a:after, i.icon-thumbs-up:before { content: "👍"; height: inherit; }

.icon-thumbs-down.icon-left a:before, .icon-thumbs-down.icon-right a:after, i.icon-thumbs-down:before { content: "👎"; height: inherit; }

.icon-download.icon-left a:before, .icon-download.icon-right a:after, i.icon-download:before { content: "📥"; height: inherit; }

.icon-upload.icon-left a:before, .icon-upload.icon-right a:after, i.icon-upload:before { content: "📤"; height: inherit; }

.icon-upload-cloud.icon-left a:before, .icon-upload-cloud.icon-right a:after, i.icon-upload-cloud:before { content: ""; height: inherit; }

.icon-reply.icon-left a:before, .icon-reply.icon-right a:after, i.icon-reply:before { content: ""; height: inherit; }

.icon-reply-all.icon-left a:before, .icon-reply-all.icon-right a:after, i.icon-reply-all:before { content: ""; height: inherit; }

.icon-forward.icon-left a:before, .icon-forward.icon-right a:after, i.icon-forward:before { content: "➦"; height: inherit; }

.icon-quote.icon-left a:before, .icon-quote.icon-right a:after, i.icon-quote:before { content: "❞"; height: inherit; }

.icon-code.icon-left a:before, .icon-code.icon-right a:after, i.icon-code:before { content: ""; height: inherit; }

.icon-export.icon-left a:before, .icon-export.icon-right a:after, i.icon-export:before { content: ""; height: inherit; }

.icon-pencil.icon-left a:before, .icon-pencil.icon-right a:after, i.icon-pencil:before { content: "✎"; height: inherit; }

.icon-feather.icon-left a:before, .icon-feather.icon-right a:after, i.icon-feather:before { content: "✒"; height: inherit; }

.icon-print.icon-left a:before, .icon-print.icon-right a:after, i.icon-print:before { content: ""; height: inherit; }

.icon-retweet.icon-left a:before, .icon-retweet.icon-right a:after, i.icon-retweet:before { content: ""; height: inherit; }

.icon-keyboard.icon-left a:before, .icon-keyboard.icon-right a:after, i.icon-keyboard:before { content: "⌨"; height: inherit; }

.icon-comment.icon-left a:before, .icon-comment.icon-right a:after, i.icon-comment:before { content: ""; height: inherit; }

.icon-chat.icon-left a:before, .icon-chat.icon-right a:after, i.icon-chat:before { content: ""; height: inherit; }

.icon-bell.icon-left a:before, .icon-bell.icon-right a:after, i.icon-bell:before { content: "🔔"; height: inherit; }

.icon-attention.icon-left a:before, .icon-attention.icon-right a:after, i.icon-attention:before { content: "⚠"; height: inherit; }

.icon-alert.icon-left a:before, .icon-alert.icon-right a:after, i.icon-alert:before { content: "💥"; height: inherit; }

.icon-vcard.icon-left a:before, .icon-vcard.icon-right a:after, i.icon-vcard:before { content: ""; height: inherit; }

.icon-address.icon-left a:before, .icon-address.icon-right a:after, i.icon-address:before { content: ""; height: inherit; }

.icon-location.icon-left a:before, .icon-location.icon-right a:after, i.icon-location:before { content: ""; height: inherit; }

.icon-map.icon-left a:before, .icon-map.icon-right a:after, i.icon-map:before { content: ""; height: inherit; }

.icon-direction.icon-left a:before, .icon-direction.icon-right a:after, i.icon-direction:before { content: "➢"; height: inherit; }

.icon-compass.icon-left a:before, .icon-compass.icon-right a:after, i.icon-compass:before { content: ""; height: inherit; }

.icon-cup.icon-left a:before, .icon-cup.icon-right a:after, i.icon-cup:before { content: "☕"; height: inherit; }

.icon-trash.icon-left a:before, .icon-trash.icon-right a:after, i.icon-trash:before { content: ""; height: inherit; }

.icon-doc.icon-left a:before, .icon-doc.icon-right a:after, i.icon-doc:before { content: ""; height: inherit; }

.icon-docs.icon-left a:before, .icon-docs.icon-right a:after, i.icon-docs:before { content: ""; height: inherit; }

.icon-doc-landscape.icon-left a:before, .icon-doc-landscape.icon-right a:after, i.icon-doc-landscape:before { content: ""; height: inherit; }

.icon-doc-text.icon-left a:before, .icon-doc-text.icon-right a:after, i.icon-doc-text:before { content: "📄"; height: inherit; }

.icon-doc-text-inv.icon-left a:before, .icon-doc-text-inv.icon-right a:after, i.icon-doc-text-inv:before { content: ""; height: inherit; }

.icon-newspaper.icon-left a:before, .icon-newspaper.icon-right a:after, i.icon-newspaper:before { content: "📰"; height: inherit; }

.icon-book-open.icon-left a:before, .icon-book-open.icon-right a:after, i.icon-book-open:before { content: "📖"; height: inherit; }

.icon-book.icon-left a:before, .icon-book.icon-right a:after, i.icon-book:before { content: "📕"; height: inherit; }

.icon-folder.icon-left a:before, .icon-folder.icon-right a:after, i.icon-folder:before { content: "📁"; height: inherit; }

.icon-archive.icon-left a:before, .icon-archive.icon-right a:after, i.icon-archive:before { content: ""; height: inherit; }

.icon-box.icon-left a:before, .icon-box.icon-right a:after, i.icon-box:before { content: "📦"; height: inherit; }

.icon-rss.icon-left a:before, .icon-rss.icon-right a:after, i.icon-rss:before { content: ""; height: inherit; }

.icon-phone.icon-left a:before, .icon-phone.icon-right a:after, i.icon-phone:before { content: "📞"; height: inherit; }

.icon-cog.icon-left a:before, .icon-cog.icon-right a:after, i.icon-cog:before { content: "⚙"; height: inherit; }

.icon-tools.icon-left a:before, .icon-tools.icon-right a:after, i.icon-tools:before { content: "⚒"; height: inherit; }

.icon-share.icon-left a:before, .icon-share.icon-right a:after, i.icon-share:before { content: ""; height: inherit; }

.icon-shareable.icon-left a:before, .icon-shareable.icon-right a:after, i.icon-shareable:before { content: ""; height: inherit; }

.icon-basket.icon-left a:before, .icon-basket.icon-right a:after, i.icon-basket:before { content: ""; height: inherit; }

.icon-bag.icon-left a:before, .icon-bag.icon-right a:after, i.icon-bag:before { content: "👜"; height: inherit; }

.icon-calendar.icon-left a:before, .icon-calendar.icon-right a:after, i.icon-calendar:before { content: "📅"; height: inherit; }

.icon-login.icon-left a:before, .icon-login.icon-right a:after, i.icon-login:before { content: ""; height: inherit; }

.icon-logout.icon-left a:before, .icon-logout.icon-right a:after, i.icon-logout:before { content: ""; height: inherit; }

.icon-mic.icon-left a:before, .icon-mic.icon-right a:after, i.icon-mic:before { content: "🎤"; height: inherit; }

.icon-mute.icon-left a:before, .icon-mute.icon-right a:after, i.icon-mute:before { content: "🔇"; height: inherit; }

.icon-sound.icon-left a:before, .icon-sound.icon-right a:after, i.icon-sound:before { content: "🔊"; height: inherit; }

.icon-volume.icon-left a:before, .icon-volume.icon-right a:after, i.icon-volume:before { content: ""; height: inherit; }

.icon-clock.icon-left a:before, .icon-clock.icon-right a:after, i.icon-clock:before { content: "🕔"; height: inherit; }

.icon-hourglass.icon-left a:before, .icon-hourglass.icon-right a:after, i.icon-hourglass:before { content: "⏳"; height: inherit; }

.icon-lamp.icon-left a:before, .icon-lamp.icon-right a:after, i.icon-lamp:before { content: "💡"; height: inherit; }

.icon-light-down.icon-left a:before, .icon-light-down.icon-right a:after, i.icon-light-down:before { content: "🔅"; height: inherit; }

.icon-light-up.icon-left a:before, .icon-light-up.icon-right a:after, i.icon-light-up:before { content: "🔆"; height: inherit; }

.icon-adjust.icon-left a:before, .icon-adjust.icon-right a:after, i.icon-adjust:before { content: "◑"; height: inherit; }

.icon-block.icon-left a:before, .icon-block.icon-right a:after, i.icon-block:before { content: "🚫"; height: inherit; }

.icon-resize-full.icon-left a:before, .icon-resize-full.icon-right a:after, i.icon-resize-full:before { content: ""; height: inherit; }

.icon-resize-small.icon-left a:before, .icon-resize-small.icon-right a:after, i.icon-resize-small:before { content: ""; height: inherit; }

.icon-popup.icon-left a:before, .icon-popup.icon-right a:after, i.icon-popup:before { content: ""; height: inherit; }

.icon-publish.icon-left a:before, .icon-publish.icon-right a:after, i.icon-publish:before { content: ""; height: inherit; }

.icon-window.icon-left a:before, .icon-window.icon-right a:after, i.icon-window:before { content: ""; height: inherit; }

.icon-arrow-combo.icon-left a:before, .icon-arrow-combo.icon-right a:after, i.icon-arrow-combo:before { content: ""; height: inherit; }

.icon-down-circled.icon-left a:before, .icon-down-circled.icon-right a:after, i.icon-down-circled:before { content: ""; height: inherit; }

.icon-left-circled.icon-left a:before, .icon-left-circled.icon-right a:after, i.icon-left-circled:before { content: ""; height: inherit; }

.icon-right-circled.icon-left a:before, .icon-right-circled.icon-right a:after, i.icon-right-circled:before { content: ""; height: inherit; }

.icon-up-circled.icon-left a:before, .icon-up-circled.icon-right a:after, i.icon-up-circled:before { content: ""; height: inherit; }

.icon-down-open.icon-left a:before, .icon-down-open.icon-right a:after, i.icon-down-open:before { content: ""; height: inherit; }

.icon-left-open.icon-left a:before, .icon-left-open.icon-right a:after, i.icon-left-open:before { content: ""; height: inherit; }

.icon-right-open.icon-left a:before, .icon-right-open.icon-right a:after, i.icon-right-open:before { content: ""; height: inherit; }

.icon-up-open.icon-left a:before, .icon-up-open.icon-right a:after, i.icon-up-open:before { content: ""; height: inherit; }

.icon-down-open-mini.icon-left a:before, .icon-down-open-mini.icon-right a:after, i.icon-down-open-mini:before { content: ""; height: inherit; }

.icon-left-open-mini.icon-left a:before, .icon-left-open-mini.icon-right a:after, i.icon-left-open-mini:before { content: ""; height: inherit; }

.icon-right-open-mini.icon-left a:before, .icon-right-open-mini.icon-right a:after, i.icon-right-open-mini:before { content: ""; height: inherit; }

.icon-up-open-mini.icon-left a:before, .icon-up-open-mini.icon-right a:after, i.icon-up-open-mini:before { content: ""; height: inherit; }

.icon-down-open-big.icon-left a:before, .icon-down-open-big.icon-right a:after, i.icon-down-open-big:before { content: ""; height: inherit; }

.icon-left-open-big.icon-left a:before, .icon-left-open-big.icon-right a:after, i.icon-left-open-big:before { content: ""; height: inherit; }

.icon-right-open-big.icon-left a:before, .icon-right-open-big.icon-right a:after, i.icon-right-open-big:before { content: ""; height: inherit; }

.icon-up-open-big.icon-left a:before, .icon-up-open-big.icon-right a:after, i.icon-up-open-big:before { content: ""; height: inherit; }

.icon-down.icon-left a:before, .icon-down.icon-right a:after, i.icon-down:before { content: "⬇"; height: inherit; }

.icon-arrow-left.icon-left a:before, .icon-arrow-left.icon-right a:after, i.icon-arrow-left:before { content: "⬅"; height: inherit; }

.icon-arrow-right.icon-left a:before, .icon-arrow-right.icon-right a:after, i.icon-arrow-right:before { content: "➡"; height: inherit; }

.icon-up.icon-left a:before, .icon-up.icon-right a:after, i.icon-up:before { content: "⬆"; height: inherit; }

.icon-down-dir.icon-left a:before, .icon-down-dir.icon-right a:after, i.icon-down-dir:before { content: "▾"; height: inherit; }

.icon-left-dir.icon-left a:before, .icon-left-dir.icon-right a:after, i.icon-left-dir:before { content: "◂"; height: inherit; }

.icon-right-dir.icon-left a:before, .icon-right-dir.icon-right a:after, i.icon-right-dir:before { content: "▸"; height: inherit; }

.icon-up-dir.icon-left a:before, .icon-up-dir.icon-right a:after, i.icon-up-dir:before { content: "▴"; height: inherit; }

.icon-down-bold.icon-left a:before, .icon-down-bold.icon-right a:after, i.icon-down-bold:before { content: ""; height: inherit; }

.icon-left-bold.icon-left a:before, .icon-left-bold.icon-right a:after, i.icon-left-bold:before { content: ""; height: inherit; }

.icon-right-bold.icon-left a:before, .icon-right-bold.icon-right a:after, i.icon-right-bold:before { content: ""; height: inherit; }

.icon-up-bold.icon-left a:before, .icon-up-bold.icon-right a:after, i.icon-up-bold:before { content: ""; height: inherit; }

.icon-down-thin.icon-left a:before, .icon-down-thin.icon-right a:after, i.icon-down-thin:before { content: "↓"; height: inherit; }

.icon-left-thin.icon-left a:before, .icon-left-thin.icon-right a:after, i.icon-left-thin:before { content: "←"; height: inherit; }

.icon-right-thin.icon-left a:before, .icon-right-thin.icon-right a:after, i.icon-right-thin:before { content: "→"; height: inherit; }

.icon-up-thin.icon-left a:before, .icon-up-thin.icon-right a:after, i.icon-up-thin:before { content: "↑"; height: inherit; }

.icon-ccw.icon-left a:before, .icon-ccw.icon-right a:after, i.icon-ccw:before { content: "⟲"; height: inherit; }

.icon-cw.icon-left a:before, .icon-cw.icon-right a:after, i.icon-cw:before { content: "⟳"; height: inherit; }

.icon-arrows-ccw.icon-left a:before, .icon-arrows-ccw.icon-right a:after, i.icon-arrows-ccw:before { content: "🔄"; height: inherit; }

.icon-level-down.icon-left a:before, .icon-level-down.icon-right a:after, i.icon-level-down:before { content: "↳"; height: inherit; }

.icon-level-up.icon-left a:before, .icon-level-up.icon-right a:after, i.icon-level-up:before { content: "↰"; height: inherit; }

.icon-shuffle.icon-left a:before, .icon-shuffle.icon-right a:after, i.icon-shuffle:before { content: "🔀"; height: inherit; }

.icon-loop.icon-left a:before, .icon-loop.icon-right a:after, i.icon-loop:before { content: "🔁"; height: inherit; }

.icon-switch.icon-left a:before, .icon-switch.icon-right a:after, i.icon-switch:before { content: "⇆"; height: inherit; }

.icon-play.icon-left a:before, .icon-play.icon-right a:after, i.icon-play:before { content: "▶"; height: inherit; }

.icon-stop.icon-left a:before, .icon-stop.icon-right a:after, i.icon-stop:before { content: "■"; height: inherit; }

.icon-pause.icon-left a:before, .icon-pause.icon-right a:after, i.icon-pause:before { content: "⎉"; height: inherit; }

.icon-record.icon-left a:before, .icon-record.icon-right a:after, i.icon-record:before { content: "⚫"; height: inherit; }

.icon-to-end.icon-left a:before, .icon-to-end.icon-right a:after, i.icon-to-end:before { content: "⏭"; height: inherit; }

.icon-to-start.icon-left a:before, .icon-to-start.icon-right a:after, i.icon-to-start:before { content: "⏮"; height: inherit; }

.icon-fast-forward.icon-left a:before, .icon-fast-forward.icon-right a:after, i.icon-fast-forward:before { content: "⏩"; height: inherit; }

.icon-fast-backward.icon-left a:before, .icon-fast-backward.icon-right a:after, i.icon-fast-backward:before { content: "⏪"; height: inherit; }

.icon-progress-0.icon-left a:before, .icon-progress-0.icon-right a:after, i.icon-progress-0:before { content: ""; height: inherit; }

.icon-progress-1.icon-left a:before, .icon-progress-1.icon-right a:after, i.icon-progress-1:before { content: ""; height: inherit; }

.icon-progress-2.icon-left a:before, .icon-progress-2.icon-right a:after, i.icon-progress-2:before { content: ""; height: inherit; }

.icon-progress-3.icon-left a:before, .icon-progress-3.icon-right a:after, i.icon-progress-3:before { content: ""; height: inherit; }

.icon-target.icon-left a:before, .icon-target.icon-right a:after, i.icon-target:before { content: "🎯"; height: inherit; }

.icon-palette.icon-left a:before, .icon-palette.icon-right a:after, i.icon-palette:before { content: "🎨"; height: inherit; }

.icon-list.icon-left a:before, .icon-list.icon-right a:after, i.icon-list:before { content: ""; height: inherit; }

.icon-list-add.icon-left a:before, .icon-list-add.icon-right a:after, i.icon-list-add:before { content: ""; height: inherit; }

.icon-signal.icon-left a:before, .icon-signal.icon-right a:after, i.icon-signal:before { content: "📶"; height: inherit; }

.icon-trophy.icon-left a:before, .icon-trophy.icon-right a:after, i.icon-trophy:before { content: "🏆"; height: inherit; }

.icon-battery.icon-left a:before, .icon-battery.icon-right a:after, i.icon-battery:before { content: "🔋"; height: inherit; }

.icon-back-in-time.icon-left a:before, .icon-back-in-time.icon-right a:after, i.icon-back-in-time:before { content: ""; height: inherit; }

.icon-monitor.icon-left a:before, .icon-monitor.icon-right a:after, i.icon-monitor:before { content: "💻"; height: inherit; }

.icon-mobile.icon-left a:before, .icon-mobile.icon-right a:after, i.icon-mobile:before { content: "📱"; height: inherit; }

.icon-network.icon-left a:before, .icon-network.icon-right a:after, i.icon-network:before { content: ""; height: inherit; }

.icon-cd.icon-left a:before, .icon-cd.icon-right a:after, i.icon-cd:before { content: "💿"; height: inherit; }

.icon-inbox.icon-left a:before, .icon-inbox.icon-right a:after, i.icon-inbox:before { content: ""; height: inherit; }

.icon-install.icon-left a:before, .icon-install.icon-right a:after, i.icon-install:before { content: ""; height: inherit; }

.icon-globe.icon-left a:before, .icon-globe.icon-right a:after, i.icon-globe:before { content: "🌎"; height: inherit; }

.icon-cloud.icon-left a:before, .icon-cloud.icon-right a:after, i.icon-cloud:before { content: "☁"; height: inherit; }

.icon-cloud-thunder.icon-left a:before, .icon-cloud-thunder.icon-right a:after, i.icon-cloud-thunder:before { content: "⛈"; height: inherit; }

.icon-flash.icon-left a:before, .icon-flash.icon-right a:after, i.icon-flash:before { content: "⚡"; height: inherit; }

.icon-moon.icon-left a:before, .icon-moon.icon-right a:after, i.icon-moon:before { content: "☽"; height: inherit; }

.icon-flight.icon-left a:before, .icon-flight.icon-right a:after, i.icon-flight:before { content: "✈"; height: inherit; }

.icon-paper-plane.icon-left a:before, .icon-paper-plane.icon-right a:after, i.icon-paper-plane:before { content: ""; height: inherit; }

.icon-leaf.icon-left a:before, .icon-leaf.icon-right a:after, i.icon-leaf:before { content: "🍂"; height: inherit; }

.icon-lifebuoy.icon-left a:before, .icon-lifebuoy.icon-right a:after, i.icon-lifebuoy:before { content: ""; height: inherit; }

.icon-mouse.icon-left a:before, .icon-mouse.icon-right a:after, i.icon-mouse:before { content: ""; height: inherit; }

.icon-briefcase.icon-left a:before, .icon-briefcase.icon-right a:after, i.icon-briefcase:before { content: "💼"; height: inherit; }

.icon-suitcase.icon-left a:before, .icon-suitcase.icon-right a:after, i.icon-suitcase:before { content: ""; height: inherit; }

.icon-dot.icon-left a:before, .icon-dot.icon-right a:after, i.icon-dot:before { content: ""; height: inherit; }

.icon-dot-2.icon-left a:before, .icon-dot-2.icon-right a:after, i.icon-dot-2:before { content: ""; height: inherit; }

.icon-dot-3.icon-left a:before, .icon-dot-3.icon-right a:after, i.icon-dot-3:before { content: ""; height: inherit; }

.icon-brush.icon-left a:before, .icon-brush.icon-right a:after, i.icon-brush:before { content: ""; height: inherit; }

.icon-magnet.icon-left a:before, .icon-magnet.icon-right a:after, i.icon-magnet:before { content: ""; height: inherit; }

.icon-infinity.icon-left a:before, .icon-infinity.icon-right a:after, i.icon-infinity:before { content: "∞"; height: inherit; }

.icon-erase.icon-left a:before, .icon-erase.icon-right a:after, i.icon-erase:before { content: "⌫"; height: inherit; }

.icon-chart-pie.icon-left a:before, .icon-chart-pie.icon-right a:after, i.icon-chart-pie:before { content: ""; height: inherit; }

.icon-chart-line.icon-left a:before, .icon-chart-line.icon-right a:after, i.icon-chart-line:before { content: "📈"; height: inherit; }

.icon-chart-bar.icon-left a:before, .icon-chart-bar.icon-right a:after, i.icon-chart-bar:before { content: "📊"; height: inherit; }

.icon-chart-area.icon-left a:before, .icon-chart-area.icon-right a:after, i.icon-chart-area:before { content: "🔾"; height: inherit; }

.icon-tape.icon-left a:before, .icon-tape.icon-right a:after, i.icon-tape:before { content: "✇"; height: inherit; }

.icon-graduation-cap.icon-left a:before, .icon-graduation-cap.icon-right a:after, i.icon-graduation-cap:before { content: "🎓"; height: inherit; }

.icon-language.icon-left a:before, .icon-language.icon-right a:after, i.icon-language:before { content: ""; height: inherit; }

.icon-ticket.icon-left a:before, .icon-ticket.icon-right a:after, i.icon-ticket:before { content: "🎫"; height: inherit; }

.icon-water.icon-left a:before, .icon-water.icon-right a:after, i.icon-water:before { content: "💦"; height: inherit; }

.icon-droplet.icon-left a:before, .icon-droplet.icon-right a:after, i.icon-droplet:before { content: "💧"; height: inherit; }

.icon-air.icon-left a:before, .icon-air.icon-right a:after, i.icon-air:before { content: ""; height: inherit; }

.icon-credit-card.icon-left a:before, .icon-credit-card.icon-right a:after, i.icon-credit-card:before { content: "💳"; height: inherit; }

.icon-floppy.icon-left a:before, .icon-floppy.icon-right a:after, i.icon-floppy:before { content: "💾"; height: inherit; }

.icon-clipboard.icon-left a:before, .icon-clipboard.icon-right a:after, i.icon-clipboard:before { content: "📋"; height: inherit; }

.icon-megaphone.icon-left a:before, .icon-megaphone.icon-right a:after, i.icon-megaphone:before { content: "📣"; height: inherit; }

.icon-database.icon-left a:before, .icon-database.icon-right a:after, i.icon-database:before { content: ""; height: inherit; }

.icon-drive.icon-left a:before, .icon-drive.icon-right a:after, i.icon-drive:before { content: ""; height: inherit; }

.icon-bucket.icon-left a:before, .icon-bucket.icon-right a:after, i.icon-bucket:before { content: ""; height: inherit; }

.icon-thermometer.icon-left a:before, .icon-thermometer.icon-right a:after, i.icon-thermometer:before { content: ""; height: inherit; }

.icon-key.icon-left a:before, .icon-key.icon-right a:after, i.icon-key:before { content: "🔑"; height: inherit; }

.icon-flow-cascade.icon-left a:before, .icon-flow-cascade.icon-right a:after, i.icon-flow-cascade:before { content: ""; height: inherit; }

.icon-flow-branch.icon-left a:before, .icon-flow-branch.icon-right a:after, i.icon-flow-branch:before { content: ""; height: inherit; }

.icon-flow-tree.icon-left a:before, .icon-flow-tree.icon-right a:after, i.icon-flow-tree:before { content: ""; height: inherit; }

.icon-flow-line.icon-left a:before, .icon-flow-line.icon-right a:after, i.icon-flow-line:before { content: ""; height: inherit; }

.icon-flow-parallel.icon-left a:before, .icon-flow-parallel.icon-right a:after, i.icon-flow-parallel:before { content: ""; height: inherit; }

.icon-rocket.icon-left a:before, .icon-rocket.icon-right a:after, i.icon-rocket:before { content: "🚀"; height: inherit; }

.icon-gauge.icon-left a:before, .icon-gauge.icon-right a:after, i.icon-gauge:before { content: ""; height: inherit; }

.icon-traffic-cone.icon-left a:before, .icon-traffic-cone.icon-right a:after, i.icon-traffic-cone:before { content: ""; height: inherit; }

.icon-cc.icon-left a:before, .icon-cc.icon-right a:after, i.icon-cc:before { content: ""; height: inherit; }

.icon-cc-by.icon-left a:before, .icon-cc-by.icon-right a:after, i.icon-cc-by:before { content: ""; height: inherit; }

.icon-cc-nc.icon-left a:before, .icon-cc-nc.icon-right a:after, i.icon-cc-nc:before { content: ""; height: inherit; }

.icon-cc-nc-eu.icon-left a:before, .icon-cc-nc-eu.icon-right a:after, i.icon-cc-nc-eu:before { content: ""; height: inherit; }

.icon-cc-nc-jp.icon-left a:before, .icon-cc-nc-jp.icon-right a:after, i.icon-cc-nc-jp:before { content: ""; height: inherit; }

.icon-cc-sa.icon-left a:before, .icon-cc-sa.icon-right a:after, i.icon-cc-sa:before { content: ""; height: inherit; }

.icon-cc-nd.icon-left a:before, .icon-cc-nd.icon-right a:after, i.icon-cc-nd:before { content: ""; height: inherit; }

.icon-cc-pd.icon-left a:before, .icon-cc-pd.icon-right a:after, i.icon-cc-pd:before { content: ""; height: inherit; }

.icon-cc-zero.icon-left a:before, .icon-cc-zero.icon-right a:after, i.icon-cc-zero:before { content: ""; height: inherit; }

.icon-cc-share.icon-left a:before, .icon-cc-share.icon-right a:after, i.icon-cc-share:before { content: ""; height: inherit; }

.icon-cc-remix.icon-left a:before, .icon-cc-remix.icon-right a:after, i.icon-cc-remix:before { content: ""; height: inherit; }

.icon-github.icon-left a:before, .icon-github.icon-right a:after, i.icon-github:before { content: ""; height: inherit; }

.icon-github-circled.icon-left a:before, .icon-github-circled.icon-right a:after, i.icon-github-circled:before { content: ""; height: inherit; }

.icon-flickr.icon-left a:before, .icon-flickr.icon-right a:after, i.icon-flickr:before { content: ""; height: inherit; }

.icon-flickr-circled.icon-left a:before, .icon-flickr-circled.icon-right a:after, i.icon-flickr-circled:before { content: ""; height: inherit; }

.icon-vimeo.icon-left a:before, .icon-vimeo.icon-right a:after, i.icon-vimeo:before { content: ""; height: inherit; }

.icon-vimeo-circled.icon-left a:before, .icon-vimeo-circled.icon-right a:after, i.icon-vimeo-circled:before { content: ""; height: inherit; }

.icon-twitter.icon-left a:before, .icon-twitter.icon-right a:after, i.icon-twitter:before { content: ""; height: inherit; }

.icon-twitter-circled.icon-left a:before, .icon-twitter-circled.icon-right a:after, i.icon-twitter-circled:before { content: ""; height: inherit; }

.icon-facebook.icon-left a:before, .icon-facebook.icon-right a:after, i.icon-facebook:before { content: ""; height: inherit; }

.icon-facebook-circled.icon-left a:before, .icon-facebook-circled.icon-right a:after, i.icon-facebook-circled:before { content: ""; height: inherit; }

.icon-facebook-squared.icon-left a:before, .icon-facebook-squared.icon-right a:after, i.icon-facebook-squared:before { content: ""; height: inherit; }

.icon-gplus.icon-left a:before, .icon-gplus.icon-right a:after, i.icon-gplus:before { content: ""; height: inherit; }

.icon-gplus-circled.icon-left a:before, .icon-gplus-circled.icon-right a:after, i.icon-gplus-circled:before { content: ""; height: inherit; }

.icon-pinterest.icon-left a:before, .icon-pinterest.icon-right a:after, i.icon-pinterest:before { content: ""; height: inherit; }

.icon-pinterest-circled.icon-left a:before, .icon-pinterest-circled.icon-right a:after, i.icon-pinterest-circled:before { content: ""; height: inherit; }

.icon-tumblr.icon-left a:before, .icon-tumblr.icon-right a:after, i.icon-tumblr:before { content: ""; height: inherit; }

.icon-tumblr-circled.icon-left a:before, .icon-tumblr-circled.icon-right a:after, i.icon-tumblr-circled:before { content: ""; height: inherit; }

.icon-linkedin.icon-left a:before, .icon-linkedin.icon-right a:after, i.icon-linkedin:before { content: ""; height: inherit; }

.icon-linkedin-circled.icon-left a:before, .icon-linkedin-circled.icon-right a:after, i.icon-linkedin-circled:before { content: ""; height: inherit; }

.icon-dribbble.icon-left a:before, .icon-dribbble.icon-right a:after, i.icon-dribbble:before { content: ""; height: inherit; }

.icon-dribbble-circled.icon-left a:before, .icon-dribbble-circled.icon-right a:after, i.icon-dribbble-circled:before { content: ""; height: inherit; }

.icon-stumbleupon.icon-left a:before, .icon-stumbleupon.icon-right a:after, i.icon-stumbleupon:before { content: ""; height: inherit; }

.icon-stumbleupon-circled.icon-left a:before, .icon-stumbleupon-circled.icon-right a:after, i.icon-stumbleupon-circled:before { content: ""; height: inherit; }

.icon-lastfm.icon-left a:before, .icon-lastfm.icon-right a:after, i.icon-lastfm:before { content: ""; height: inherit; }

.icon-lastfm-circled.icon-left a:before, .icon-lastfm-circled.icon-right a:after, i.icon-lastfm-circled:before { content: ""; height: inherit; }

.icon-rdio.icon-left a:before, .icon-rdio.icon-right a:after, i.icon-rdio:before { content: ""; height: inherit; }

.icon-rdio-circled.icon-left a:before, .icon-rdio-circled.icon-right a:after, i.icon-rdio-circled:before { content: ""; height: inherit; }

.icon-spotify.icon-left a:before, .icon-spotify.icon-right a:after, i.icon-spotify:before { content: ""; height: inherit; }

.icon-spotify-circled.icon-left a:before, .icon-spotify-circled.icon-right a:after, i.icon-spotify-circled:before { content: ""; height: inherit; }

.icon-qq.icon-left a:before, .icon-qq.icon-right a:after, i.icon-qq:before { content: ""; height: inherit; }

.icon-instagram.icon-left a:before, .icon-instagram.icon-right a:after, i.icon-instagram:before { content: ""; height: inherit; }

.icon-dropbox.icon-left a:before, .icon-dropbox.icon-right a:after, i.icon-dropbox:before { content: ""; height: inherit; }

.icon-evernote.icon-left a:before, .icon-evernote.icon-right a:after, i.icon-evernote:before { content: ""; height: inherit; }

.icon-flattr.icon-left a:before, .icon-flattr.icon-right a:after, i.icon-flattr:before { content: ""; height: inherit; }

.icon-skype.icon-left a:before, .icon-skype.icon-right a:after, i.icon-skype:before { content: ""; height: inherit; }

.icon-skype-circled.icon-left a:before, .icon-skype-circled.icon-right a:after, i.icon-skype-circled:before { content: ""; height: inherit; }

.icon-renren.icon-left a:before, .icon-renren.icon-right a:after, i.icon-renren:before { content: ""; height: inherit; }

.icon-sina-weibo.icon-left a:before, .icon-sina-weibo.icon-right a:after, i.icon-sina-weibo:before { content: ""; height: inherit; }

.icon-paypal.icon-left a:before, .icon-paypal.icon-right a:after, i.icon-paypal:before { content: ""; height: inherit; }

.icon-picasa.icon-left a:before, .icon-picasa.icon-right a:after, i.icon-picasa:before { content: ""; height: inherit; }

.icon-soundcloud.icon-left a:before, .icon-soundcloud.icon-right a:after, i.icon-soundcloud:before { content: ""; height: inherit; }

.icon-mixi.icon-left a:before, .icon-mixi.icon-right a:after, i.icon-mixi:before { content: ""; height: inherit; }

.icon-behance.icon-left a:before, .icon-behance.icon-right a:after, i.icon-behance:before { content: ""; height: inherit; }

.icon-google-circles.icon-left a:before, .icon-google-circles.icon-right a:after, i.icon-google-circles:before { content: ""; height: inherit; }

.icon-vkontakte.icon-left a:before, .icon-vkontakte.icon-right a:after, i.icon-vkontakte:before { content: ""; height: inherit; }

.icon-smashing.icon-left a:before, .icon-smashing.icon-right a:after, i.icon-smashing:before { content: ""; height: inherit; }

.icon-sweden.icon-left a:before, .icon-sweden.icon-right a:after, i.icon-sweden:before { content: ""; height: inherit; }

.icon-db-shape.icon-left a:before, .icon-db-shape.icon-right a:after, i.icon-db-shape:before { content: ""; height: inherit; }

.icon-logo-db.icon-left a:before, .icon-logo-db.icon-right a:after, i.icon-logo-db:before { content: ""; height: inherit; }

.fixed { position: fixed; }
.fixed.pinned { position: absolute; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; top: auto !important; left: auto !important; } }

.unfixed { position: relative !important; top: auto !important; left: auto !important; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/* Fonts */
@font-face { font-family: "entypo"; font-style: normal; font-weight: 400; src: url(../fonts/icons/entypo.eot); src: url("../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"), url("../fonts/icons/entypo.woff") format("woff"), url("../fonts/icons/entypo.ttf") format("truetype"); }
/* Typography */
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans"; font-weight: 300; color: #444444; text-rendering: optimizeLegibility; padding-top: 0.273em; line-height: 1.15538em; padding-bottom: 0.273em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #d04526; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #c03d20; }

@media only screen and (max-width: 767px) { h1, h2, h3, h4, h5, h6 { word-wrap: break-word; } }
h1 { font-size: 68px; font-size: 4.25rem; }
h1.xlarge { font-size: 110px; font-size: 6.875rem; }
h1.xxlarge { font-size: 126px; font-size: 7.875rem; }
h1.absurd { font-size: 177px; font-size: 11.0625rem; }

h2 { font-size: 42px; font-size: 2.625rem; }

h3 { font-size: 30px; font-size: 1.875rem; }

h4 { font-size: 26px; font-size: 1.625rem; }

h5 { font-size: 18px; font-size: 1.125rem; }

h6 { font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 767px) { h1 { font-size: 42px; font-size: 2.625rem; }
  h2 { font-size: 36px; font-size: 2.25rem; } }
.subhead { color: #777; font-weight: normal; margin-bottom: 20px; }

/*=====================================================
 Links & Paragraph styles
 ======================================================*/

/*=====================================================
 Lists
 ======================================================*/
ul, ol { margin-bottom: 0.273em; }

ul { list-style: none outside; }

ol { list-style: decimal; margin-left: 30px; }

ul.square, ul.circle, ul.disc { margin-left: 25px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul { margin: 4px 0 5px 25px; }

ol ol { margin: 4px 0 5px 30px; }

li { padding-bottom: 0.273em; }

ul.large li { line-height: 21px; }

dl dt { font-weight: bold; font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 768px) { ul, ol, dl, p { text-align: left; } }
/* Mobile */
em { font-style: italic; line-height: inherit; }

strong { font-weight: 700; line-height: inherit; }

small { font-size: 56.4%; line-height: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }

/*  Blockquotes  */
blockquote { line-height: 20px; color: #777; margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 5px solid #ccc; }
blockquote p { line-height: 20px; color: #777; }
blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #555555; }
blockquote cite a:visited { color: #555555; }

hr { border: 1px solid #ccc; clear: both; margin: 16px 0 18px; height: 0; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ccc; cursor: help; }

abbr { text-transform: none; }

/** Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com) */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  p a { color: #555555 !important; text-decoration: underline; }
  p a:visited { color: #555555 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
