#footer {
	width: 100%;
	height: auto;
	background-color: #00afb4;
	float: left;
	z-index: 10;
}

.footer {
	width: 100%;
	height: auto;
	padding: 21px;
	margin: 4px auto 0 auto;
	background-color: #00afb4;
	text-align: center;
	a {
		font-family: Tw Cen MT Condensed Normal;
		font-size: 30px;
		text-decoration: none;
		color: white;
	}
}

@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin-left: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"], [class^="pull_"], [class*="pull_"] { margin-left: 0 !important; }

  	.footer {
  		a {
  			font-size: 20px;
  		}
  	}

   }