#header_one {
	width: 100%;
	height: auto;
	background-color: #00afb4;
	float: left;
	z-index: 10;
}

.header_one {
	width: 1200px;
	height: auto;
	margin: 0 auto 0 auto;
	h1 {
		font-family: Tw Cen MT Condensed Bold;
		font-size: 40px;
		color: white;
		cursor: pointer;
		float: left;
	}
	.one {
		margin-top: 14.2px;
		float: right;
	}

	.one_two {
		width: 165px;
		padding: 9px 0 2px 0;
		border-radius: 11px;
		background-color: #00afb4;
		list-style-type: none;
		text-align: center;
		float: left;
		transition: all ease .2s;
		&:hover {
			background-color: white;
			border-radius: 12px;
		}
		a {
			font-family: Learning Curve Pro;
			font-size: 31px;
			color: white;
			text-decoration: none;
		}
		&:hover > a {
			color: #00afb4;
		}
		&:hover > .two {
			margin: 0 0 0 50px;
			opacity: 10;
			z-index: 99;
		}
	}
	.two {
		padding: 21px;
		margin: -500px 0 0 45px;
		position: absolute;
		opacity: 0;
		transition: all ease .3s;
	}
	.two_two {
		width: 180px;
		padding: 5px;
		margin-bottom: 3px;
		background-color: #00afb4;
		border-radius: 12px;
		border: 1px solid white;
		text-align: left;
		transition: all ease .5s;
		&:hover {
			background-color: white;
			margin: 8px 0 8px 17px;
			box-shadow: 0 0 10px 2px;
			text-align: center;
		}
		a {
			color: white;
		}
		&:hover > a {
			color: #00afb4;
		}
	}
}

@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin-left: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"], [class^="pull_"], [class*="pull_"] { margin-left: 0 !important; }

  .header_one {
  		h1 {
  			font-size: 25px;
  		}
  		.one {
  			margin: 0 0 4px 0;
  			padding: 0;
  			float: left;
  		}
  		.one_two {
  			width: 70px;
  			padding: 0;
  			margin-left: 2px;
	  		a {
	  			font-size: 25px;
	  		}
	  		&:hover {
	  			border-radius: 7px;
	  		}
  		}
  		.two {
  			display: none;
  		}
   }

}